.calculator-box{
  height:24rem;
  width: 16rem;
  border: 2px solid black;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  border-radius: 7px;
}
.display-box{
  display: flex;
  flex-direction: row;
}
.controller{
  margin: 1px;
  width: 4rem;
}
.btn-style{
  width: 4rem;
  height: 4rem;
  margin: 1px;
}
.display-style{
  width: 12rem;
  height: 3.3rem;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}
.row-style{
  display: flex;
  flex-direction: row;
  justify-content: center;
}